@charset "UTF-8";
* {
  -webkit-tap-highlight-color: transparent;
  /*去掉点击高亮,如a标签及输入控件*/ }

body, nav, dl, dt, dd, p, h1, h2, h3, h4, h5, h6, ul, ol, li, input, button, textarea, footer {
  margin: 0;
  padding: 0; }

body {
  font: 0px "微软雅黑",helvetica,arial;
  background: #ffffff;
  -webkit-text-size-adjust: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

ul, ol, dl {
  list-style: none; }

li {
  list-style: none; }

i {
  font-style: normal; }

form {
  display: inline; }

a {
  text-decoration: none; }

a:hover, a:active, a:focus {
  text-decoration: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  -webkit-tap-highlight-color: transparent; }

button, input, select {
  font-size: 100%;
  outline: 0; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  border: none;
  outline: none; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*去除按钮点击高亮*/
button {
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent; }

/*去除按钮点击高亮end*/
/*type=number时右边的那两个箭头去掉*/
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

/*按钮点击闪烁的颜色变为透明*/
input, select {
  -webkit-tap-highlight-color: transparent; }

/*清除默认*/
/*项目用到的颜色*/
/*主色辅色*/
/*警示色*/
/*按钮不可点击颜色*/
/*输入框的placeholder颜色*/
/*背景边框*/
/*文本颜色*/
/*兼容大分辨率屏幕一像素边框变2px或3px的效果*/
/*用来被继承的占位样式*/
/*项目用到的颜色*/
/*主色辅色*/
/*警示色*/
/*按钮不可点击颜色*/
/*输入框的placeholder颜色*/
/*背景边框*/
/*文本颜色*/
/*颜色控制文件*/
/*鎻愪氦鍚庣殑loading*/
.Lin-popupStatusBox {
  display: none;
  position: fixed;
  padding: .3rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  border-radius: .08rem;
  z-index: 19; }
  .Lin-popupStatusBox.hide {
    -webkit-animation: hide linear .5s;
    -webkit-animation-delay: 2s;
    -webkit-animation-fill-mode: forwards; }
    .Lin-popupStatusBox.hide > .loadBox {
      display: none; }
    .Lin-popupStatusBox.hide > .tips {
      display: block; }
  .Lin-popupStatusBox > .loadBox {
    position: relative;
    width: 2rem;
    height: 2rem;
    -webkit-animation: rotate 2s linear infinite; }
    .Lin-popupStatusBox > .loadBox > div {
      position: absolute;
      left: -webkit-calc(50% + .16rem);
      top: -webkit-calc(50% - .02rem);
      width: .2rem;
      height: .04rem;
      background: #cccccc;
      -webkit-transform-origin: -.16rem 50%; }
      .Lin-popupStatusBox > .loadBox > div:nth-child(1) {
        -webkit-transform: rotate(0deg); }
      .Lin-popupStatusBox > .loadBox > div:nth-child(2) {
        -webkit-transform: rotate(30deg); }
      .Lin-popupStatusBox > .loadBox > div:nth-child(3) {
        -webkit-transform: rotate(60deg); }
      .Lin-popupStatusBox > .loadBox > div:nth-child(4) {
        -webkit-transform: rotate(90deg); }
      .Lin-popupStatusBox > .loadBox > div:nth-child(5) {
        -webkit-transform: rotate(120deg); }
      .Lin-popupStatusBox > .loadBox > div:nth-child(6) {
        -webkit-transform: rotate(150deg); }
      .Lin-popupStatusBox > .loadBox > div:nth-child(7) {
        -webkit-transform: rotate(180deg); }
      .Lin-popupStatusBox > .loadBox > div:nth-child(8) {
        -webkit-transform: rotate(210deg); }
      .Lin-popupStatusBox > .loadBox > div:nth-child(9) {
        -webkit-transform: rotate(240deg); }
      .Lin-popupStatusBox > .loadBox > div:nth-child(10) {
        -webkit-transform: rotate(270deg); }
      .Lin-popupStatusBox > .loadBox > div:nth-child(11) {
        -webkit-transform: rotate(300deg); }
      .Lin-popupStatusBox > .loadBox > div:nth-child(12) {
        -webkit-transform: rotate(330deg); }
  .Lin-popupStatusBox > .tips {
    display: none;
    color: #ffffff;
    font-size: .28rem; }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(360deg); } }
@-webkit-keyframes hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
/*end*/
html {
  height: 100%; }

.test {
  width: 100px;
  height: 100px;
  background: #f00; }

/*# sourceMappingURL=public.css.map */
