@charset "utf-8";
/*项目用到的颜色*/

/*主色辅色*/
$maincolor:#f34b4b;
$maincolor-deepen:#d54242;
$secondcolor:#fd7a25;
$secondcolor-deepen:#d3661f;

/*警示色*/
$warn:#cc0000;

/*按钮不可点击颜色*/
$dispaly:#d2d2d2;

/*输入框的placeholder颜色*/
$placeholder:#b2b2b2;

/*背景边框*/
$bgcolor:#f1ece8;
$bordercolor:#e2e2e2;

/*文本颜色*/
$fontcolorLv3:#999999;
$fontcolorLv2:#60544b;
$fontcolorLv1:#333333;





